{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <title>Forge Issue</title>
      <link rel="stylesheet" type="text/css" href="{% static "core/css/bootstrap.min.css" %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{{ forge_url }}">GitLab</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'issue-list' %}">Issue</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Milestone</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Labels</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user-list' %}">Members</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>

        <ul class="list-group">

          {% for issue in issues %}
          <li class="list-group-item d-flex align-items-center">
              <strong>#{{ issue.number }}</strong>&nbsp;{{ issue.title |truncatechars:128 }}
          </li>
          {% endfor %}
        </ul>
        <div class="pagination alert alert-dismissible alert-secondary">
            <span class="step-links">
                {% if issues.has_previous %}
                    <a href="?page={{ issues.previous_page_number }}">previous</a>
                {% endif %}
         
                <span class="current">
                    Page {{ issues.number }} of {{ issues.paginator.num_pages }}.
                </span>
         
                {% if issues.has_next %}
                    <a href="?page={{ issues.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </body>
</html>
