{% extends 'core/base.html' %}
{% block title %}Projects &bull; ForkLab{% endblock %}
{% block content %}
    <div class="alert alert-dismissible alert-info">
      <strong>Heads up!</strong> This database last update was on {{ last_updated }}
    </div>

    <ul class="list-group">
        {% for project in projects %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="issues/?project={{ project.pk }}">{{ namespace }} / {{ project.name }}</a>
            <span class="badge badge-primary badge-pill">{{ project.issue_count }}</span>
        </li>
        {% endfor %}
    </ul>
    <div class="pagination alert alert-dismissible alert-secondary">
        <span class="step-links">
            {% if projects.has_previous %}
                <a href="?page={{ projects.previous_page_number }}">previous</a>
            {% endif %}
     
            <span class="current">
                Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
            </span>
     
            {% if projects.has_next %}
                <a href="?page={{ projects.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
