{% extends 'core/base.html' %}
{% block title %}Members &bull; ForkLab{% endblock %}
{% block content %}
    <ul class="list-group">
      {% for user in users %}
      <li class="list-group-item d-flex align-items-center">
          <strong>{{ user.full_name }}</strong>&nbsp; @{{ user.username }}
      </li>
      {% endfor %}
    </ul>
    <div class="pagination alert alert-dismissible alert-secondary">
        <span class="step-links">
            {% if users.has_previous %}
                <a href="?page={{ users.previous_page_number }}">previous</a>
            {% endif %}
     
            <span class="current">
                Page {{ users.number }} of {{ users.paginator.num_pages }}.
            </span>
     
            {% if users.has_next %}
                <a href="?page={{ users.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
